@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes bounceRight {
    0%, 100% {
      transform: translateX(0%);
    }
    50% {
      transform: translateX(25%); /* Change the percentage to control how far it bounces */
    }
  }
  
  .animation-bounceRight {
    animation: bounceRight 1s ease-in-out infinite;
  }
  

  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus {
    border: none;
    -webkit-text-fill-color: black;
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    box-shadow: 0 0 0px 1000px white inset;
    transition: background-color 5000s ease-in-out 0s;
  }
  
  /* Override Firefox autofill */
  input:-moz-autofill,
  input:-moz-autofill:hover, 
  input:-moz-autofill:focus {
    border: none;
    text-fill-color: black;
    box-shadow: 0 0 0px 1000px white inset;
    transition: background-color 5000s ease-in-out 0s;
  }