@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes bounceRight {
    0%, 100% {
      transform: translateX(0%);
    }
    50% {
      transform: translateX(25%); /* Change the percentage to control how far it bounces */
    }
  }
  
  .animation-bounceRight {
    animation: bounceRight 1s ease-in-out infinite;
  }
  